header h1.logo {
    font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin: 4px;
    font-size: 2.4em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    border-bottom: 8px solid;  
    border-image: url(border.png) 25 round;
    position: relative;
    bottom: -20px;    
}

body {
    background-image: url("field.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   }